 <div class="row">
   <div class="col-md-2"></div>
   <div class="quotes col-md-8">
     <div class="quote">
       <p>{{quote.name}}</p>
       <p>{{quote.author}}</p>
       <p>{{quote.submitted}}</p>
       <p>Published: {{quote.published | dateAgo}}</p>

       <div class="wrapper1">
         <button id="deletebtn" class="btn btn-danger" (click)='quoteRead(true)'>Delete</button>
       </div>

       <div class="wrapper2">
         <p><button id="upbtn" class="btn btn-danger" (click)='upVote()'>UpVote</button> {{upvote}} </p>
       </div>

       <div class="wrapper3">
         <p><button id="downbtn" class="btn btn-danger" (click)='downVote()'>DownVote</button> {{downvote}} </p>
       </div>
     </div>
   </div>
   <div class="col-md-2"></div>
 </div>
