<body>
  <div class="background">
    <div class="container" id="header">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
          <h1>QUOTES CREATOR</h1>
          <br>
          <h2>Whether inspiring, motivational or funny, quotes have the power to get you moving, encourage you, or just
            help you
            push through a tough day.</h2>
          <br>
          <p>Inspire yourself and others with a beautiful quote.</p>

          <a href="#fname"><button class="btn btn-primary" id="btn">Start Creating a Quote</button></a>

        </div>
        <div class="col-md-3"></div>

      </div>
    </div>


    <div class="container" id="section2">
      <div class="row">
        <div class="col-md-12">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <ul>
            <div *ngFor='let quote of quotes;let i = index'>
              <app-quote-details [quote]='quote' (isRead)='quoteRead($event, i)'></app-quote-details>
            </div>
          </ul>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</body>
