.quote {
  padding-left: 18%;
  color: #fff;
  text-align: center;

}

.namelabel {
  text-align: center
}

#fname {
  margin-top: 5%;
}

#quotebtn {
  color: #fff;
  width: 100%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #CC0051;
  border-style: none;
}
